<app-menu-bar></app-menu-bar>
<div class="card">
    <div class="flex flex-column card-container green-container" style="max-width: 100%">
        <div class="flex align-items-center justify-content-center h-4rem"></div>
    </div>
    <div class="card">
        <div class="flex justify-content-center border-transparent align-items-center flex-wrap card-container">
            <div class="flex justify-content-center font-bold surface-border surface-overlay border-3 border-round text-gray-900 m-2" style="width: 650px;height: 609px;">
                <div class="card">
                    <div class="flex justify-content-center flex-wrap card-container yellow-container" style="min-height: 300px">
                        <div class="flex align-items-center justify-content-center border-round m-2" style="min-width: 200px; min-height: 50px"></div>
                        <div class="flex align-items-center justify-content-center border-round m-2" style="min-width: 200px; min-height: 20px"></div>
                        <div class="flex flex-wrap align-items-center justify-content-center font-bold text-gray-900 border-round m-2" style="max-width: 200px; min-height: 50px">
                            <div class="flex align-items-center justify-content-center border-round m-2" style="min-width: 200px; min-height:50px">
                                <img src="assets\img\status.png" height="65" width="65">
                            </div>
                            <div class="flex align-items-center justify-content-center text-2xl border-round m-1" style="min-width: 200px; min-height: 50px">
                                ผ่าน
                            </div>
                            <div class="flex align-items-center justify-content-center text-2xl border-round m-1" style="min-width: 200px; min-height: 50px">
                                สรุปผลการลงสมัคร
                            </div>
                        </div>
                    </div>
                    <div class="flex align-content-end justify-content-center flex-wrap card-container green-container" style="min-height: 280px">
                        <div class="flex align-items-center border-bottom-1 justify-content-center font-bold m-1" style="min-width: 95%; min-height: 50px">
                            <div class="flex align-items-center justify-content-start font-bold border-round m-1" style="min-width: 45%; min-height: 50px">
                                ประเภทใบสมัคร
                            </div>
                            <div class="flex align-items-center justify-content-end text-blue-300 border-round m-1" style="min-width: 50%;min-height: 50px">
                                ใบสมัครนายกสโมสร
                            </div>
                        </div>
                        <div class="flex align-items-center justify-content-center border-bottom-1 font-bold m-1" style="min-width: 95% ; min-height: 50px">
                            <div class="flex align-items-center justify-content-start font-bold border-round m-1" style="min-width: 45%; min-height: 50px">
                                วันที่ลงสมัคร
                            </div>
                            <div class="flex align-items-center justify-content-end font-bold text-blue-300 border-round m-1" style="min-width: 50%;min-height: 50px">
                                4/12/2565
                            </div>
                        </div>
                        <div class="flex align-items-center justify-content-center font-bold border-bottom-1 m-1" style="min-width: 95%; min-height: 50px">
                            <div class="flex align-items-center justify-content-start font-bold border-round m-1" style="min-width: 45%; min-height: 50px">
                                ผู้ลงสมัคร
                            </div>
                            <div class="flex align-items-center justify-content-end font-bold text-blue-300 border-round m-1" style="min-width: 50%;min-height: 50px">
                                นายประยุทธ์ จันทร์โอชา
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex justify-content-center surface-border surface-overlay border-3 border-round text-gray-900 m-2" style="width: 330px;height: 609px;">
                <div class="card">
                    <div class="flex align-content-start justify-content-center flex-wrap card-container green-container" style="height: 90%">
                        <div class="flex align-items-center border-3 border-blue-300 justify-content-center font-bold m-1" style="min-width: 95%; min-height: 50px">
                            <div class="flex align-items-center justify-content-start font-bold border-round m-1" style="min-width: 45%; min-height: 50px">
                                ประวัติผลการลงสมัคร
                            </div>
                        </div>
                        <div class="flex align-items-center justify-content-center border-bottom-1 m-1" style="min-width: 95% ; min-height: 30px">
                            <div class="flex align-items-center justify-content-start border-round m-1" style="min-width: 70%; min-height: 30px">
                                ใบสมัครสมาชิกสภานักศึกษา
                            </div>
                            <div class="flex align-items-center justify-content-end font-bold text-blue-300 border-round m-1" style="min-width: 20%;min-height: 30px">
                                <img src="assets\img\status_no.png" height="20" width="20">
                            </div>
                        </div>
                    </div>
                    <div class="flex align-content-start justify-content-center flex-wrap card-container green-container" style="height: 10%">
                        <div class="flex align-items-center justify-content-center border-2 border-gray-200 m-1" style="min-width: 95% ; min-height: 30px">
                            <div class="flex align-items-center justify-content-start border-round m-1" style="min-width: 70%; min-height: 30px">
                                รายการลงสมัครทั้งหมด
                            </div>
                            <div class="flex align-items-center justify-content-end font-bold text-blue-300 border-round m-1" style="min-width: 20%;min-height: 30px">
                                15 รายการ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-column card-container green-container" style="max-width: 100%">
        <div class="flex align-items-center justify-content-center h-4rem"></div>
    </div>
</div>
<app-footer></app-footer>