.headerFont {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 37px;
    /* identical to box height */
    text-align: center;
    /* gradient-main */
    background: linear-gradient(270deg, #4BBC99 0%, #009DC8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.button {
    background-color: #fff;
    &:hover {
        background-color: darken(#f2f2f2, 10%);
    }
}

.buttonColor {
    background: #FCB61E;
    border-radius: 5px;
    border-color: #FCB61E;
}

.buttonColor:hover {
    background: #FFA412;
    border-radius: 5px;
    border-color: #FFA412;
}