<app-menu-bar-admin></app-menu-bar-admin>
<div class="card">
    <div class="card-container overflow-hidden">
        <div class="flex">
            <div class="flex-1 flex align-items-center justify-content-center m-2">
                <p-panel header="ข้อมูลผู้ลงสมัคร">
                    <div class="card">
                        <!-- ข้อมูลส่วนตัว -->
                        <div class="flex flex-wrap card-container blue-container" style="max-width: 100%">
                            <div class="flex align-items-baseline justify-content-left">
                                <label for="perInfo" class="block"><b>ข้อมูลส่วนตัว</b></label>
                            </div>
                        </div>
                        <div class="flex flex-wrap card-container blue-container" style="max-width: 100%">
                            <div class="flex align-items-center justify-content-center m-2 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <div class="field">
                                    <label for="Number" class="block">หมายเลข</label>
                                    <input id="Number" type="text" pInputText [(ngModel)]="candidateData.candiNo" />
                                </div>
                            </div>
                            <div class="flex align-items-center justify-content-center m-2 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <div class="field">
                                    <label for="prefix" class="block">คำนำหน้าชื่อ</label>
                                    <input id="prefix" type="text" pInputText [(ngModel)]="studentData.prefix"
                                        disabled="true" />
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap card-container blue-container" style="max-width: 100%">
                            <div class="flex align-items-center justify-content-center m-2 mt-0 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <div class="field">
                                    <label for="firstname" class="block">ชื่อ</label>
                                    <input id="firstname" type="text" pInputText [(ngModel)]="studentData.firstName"
                                        disabled="true" />
                                </div>
                            </div>
                            <div class="flex align-items-center justify-content-center m-2 mt-0 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <div class="field">
                                    <label for="lastname" class="block">นามสกุล</label>
                                    <input id="lastname" type="text" pInputText [(ngModel)]="studentData.lastName"
                                        disabled="true" />
                                </div>
                            </div>
                            <div class="flex align-items-center justify-content-center m-2 mt-0 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <div class="field">
                                    <label for="age" class="block">อายุ</label>
                                    <input id="age" type="number" pInputText [(ngModel)]="studentAge" disabled="true" />
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap card-container blue-container" style="max-width: 100%">
                            <div class="flex align-items-center justify-content-center m-2 mt-0 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <div class="field">
                                    <label for="birthday" class="block">วันเดือนปีเกิด</label>
                                    <p-calendar inputId="birthday" [(ngModel)]="studentData.birthday"
                                        disabled="true"></p-calendar>
                                </div>
                            </div>
                            <div class="flex align-items-center justify-content-center m-2 mt-0 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <div class="field">
                                    <label for="national" class="block">สัญชาติ</label>
                                    <input id="national" type="text" pInputText [(ngModel)]="studentData.nationality"
                                        disabled="true" />
                                </div>
                            </div>
                            <div class="flex align-items-center justify-content-center m-2 mt-0 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <div class="field">
                                    <label for="religion" class="block">ศาสนา</label>
                                    <input id="religion" type="text" pInputText [(ngModel)]="studentData.religion"
                                        disabled="true" />
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap card-container blue-container" style="max-width: 100%">
                            <div class="flex align-items-center justify-content-center m-2 mt-0 border-round"
                                style="min-width: 90px; min-height: 100px">
                                <div class="field">
                                    <label for="housenumber" class="block">บ้านเลขที่</label>
                                    <input id="housenumber" type="text" pInputText style="width: 90px;"
                                        [(ngModel)]="studentData.studentAddress.addHouse" disabled="true" />
                                </div>
                            </div>
                            <div class="flex align-items-center justify-content-center m-2 mt-0 border-round"
                                style="min-width: 90px; min-height: 100px">
                                <div class="field">
                                    <label for="mu" class="block">หมู่ที่</label>
                                    <input id="mu" type="text" pInputText style="width: 90px;"
                                        [(ngModel)]="studentData.studentAddress.addVillage" disabled="true" />
                                </div>
                            </div>
                            <div class="flex align-items-center justify-content-center m-2 mt-0 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <div class="field">
                                    <label for="street" class="block">ถนน</label>
                                    <input id="street" type="text" pInputText
                                        [(ngModel)]="studentData.studentAddress.addStreet" disabled="true" />
                                </div>
                            </div>
                            <div class="flex align-items-center justify-content-center m-2 mt-0 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <div class="field">
                                    <label for="township" class="block">แขวง/ตำบล</label>
                                    <input id="township" type="text" pInputText
                                        [(ngModel)]="studentData.studentAddress.addSubDis" disabled="true" />
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap card-container blue-container" style="max-width: 100%">
                            <div class="flex align-items-center justify-content-center m-2 mt-0 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <div class="field">
                                    <label for="districts" class="block">เขต/อำเภอ</label>
                                    <input id="districts" type="text" pInputText
                                        [(ngModel)]="studentData.studentAddress.addDistrict" disabled="true" />
                                </div>
                            </div>
                            <div class="flex align-items-center justify-content-center m-2 mt-0 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <div class="field">
                                    <label for="province" class="block">จังหวัด</label>
                                    <input id="province" type="text" pInputText
                                        [(ngModel)]="studentData.studentAddress.addProvince" disabled="true" />
                                </div>
                            </div>
                            <div class="flex align-items-center justify-content-center m-2 mt-0 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <div class="field">
                                    <label for="post" class="block">รหัสไปรษณีย์</label>
                                    <input id="post" type="text" pInputText
                                        [(ngModel)]="studentData.studentAddress.addPostCode" disabled="true" />
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap card-container blue-container" style="max-width: 100%">
                            <div class="flex align-items-center justify-content-center m-2 mt-0 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <div class="field">
                                    <label for="phone" class="block">หมายเลขโทรศัพท์</label>
                                    <input id="phone" type="text" pInputText [(ngModel)]="candidateData.candiPhone" />
                                </div>
                            </div>
                            <div class="flex align-items-center justify-content-center m-2 mt-0 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <div class="field">
                                    <label for="oriProvince" class="block">ภูมิลำเนาเดิมจังหวัด</label>
                                    <input id="oriProvince" type="text" pInputText
                                        [(ngModel)]="studentData.studentAddress.addOriprovince" disabled="true" />
                                </div>
                            </div>
                        </div>
                        <!---->

                        <!-- ข้อมูลด้านการศึกษา -->
                        <div class="flex flex-wrap card-container blue-container" style="max-width: 100%">
                            <div class="flex align-items-baseline justify-content-left">
                                <label for="perEd" class="block"><b>ข้อมูลด้านการศึกษา</b></label>
                            </div>
                        </div>
                        <div class="flex flex-wrap card-container blue-container" style="max-width: 100%">
                            <div class="flex align-items-center justify-content-center m-2 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <div class="field">
                                    <label for="faculty" class="block">คณะ</label>
                                    <input id="faculty" type="text" pInputText [(ngModel)]="studentData.studentFaculty"
                                        disabled="true" />
                                </div>
                            </div>
                            <div class="flex align-items-center justify-content-center m-2 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <div class="field">
                                    <label for="studentID" class="block">รหัสนักศึกษา</label>
                                    <input id="studentID" type="text" pInputText [(ngModel)]="studentData.studentCode"
                                        disabled="true" />
                                </div>
                            </div>
                            <div class="flex align-items-center justify-content-center m-2 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <div class="field">
                                    <label for="classYear" class="block">ชั้นปี</label>
                                    <input id="classYear" type="text" pInputText
                                        [(ngModel)]="studentData.studentClassyear" disabled="true" />
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap card-container blue-container" style="max-width: 100%">
                            <div class="flex align-items-center justify-content-center m-2 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <div class="field">
                                    <label for="faculty" class="block">สาขาวิชา</label>
                                    <input id="faculty" type="text" pInputText [(ngModel)]="studentData.studentMajor"
                                        disabled="true" />
                                </div>
                            </div>
                            <div class="flex align-items-center justify-content-center m-2 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <div class="field">
                                    <label for="studentID" class="block">ขึ้นทะเบียนนักศึกษาเมื่อปี</label>
                                    <input id="studentID" type="text" pInputText
                                        [(ngModel)]="studentData.studentRegisYear" disabled="true" />
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap card-container blue-container" style="max-width: 100%">
                            <div class="flex align-items-center justify-content-center m-2 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <div class="field">
                                    <label for="gpa" class="block">คะแนนเฉลี่ยสะสม</label>
                                    <input id="gpa" type="text" pInputText [(ngModel)]="studentData.studentGpa"
                                        disabled="true" />
                                </div>
                            </div>
                        </div>
                        <!---->

                        <!-- ประสบการณ์ -->
                        <div class="flex flex-wrap card-container blue-container" style="max-width: 100%">
                            <div class="flex align-items-baseline justify-content-left ">
                                <label for="exp" class="block"><b>ประสบการณ์ทำงานด้านกิจกรรมนักศึกษา</b></label>
                            </div>
                        </div>
                        <div class="flex flex-wrap card-container blue-container mt-5" style="max-width: 100%">
                            <div class="flex align-items-baseline justify-content-left">
                                <label for="exp" class="block"><b>ลำดับที่ 1</b></label>
                            </div>
                        </div>
                        <div class="flex flex-wrap card-container blue-container" style="max-width: 100%">
                            <div class="flex align-items-center justify-content-center m-2 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <div class="field">
                                    <label for="studentID" class="block">รายการที่เคยดำรงตำแหน่ง</label>
                                    <input id="studentID" type="text" pInputText
                                        [(ngModel)]="candidateData.candiExpList[0].position" />
                                </div>
                            </div>
                            <div class="flex align-items-center justify-content-center m-2 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <div class="field">
                                    <label for="studentID" class="block">ปี</label>
                                    <p-calendar view="year" dateFormat="yy" inputId="yearpicker"
                                        [(ngModel)]="candidateData.candiExpList[0].years"></p-calendar>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap card-container blue-container mt-1" style="max-width: 100%">
                            <div class="flex align-items-baseline justify-content-left">
                                <label for="exp" class="block"><b>ลำดับที่ 2</b></label>
                            </div>
                        </div>
                        <div class="flex flex-wrap card-container blue-container" style="max-width: 100%">
                            <div class="flex align-items-center justify-content-center m-2 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <div class="field">
                                    <label for="studentID" class="block">รายการที่เคยดำรงตำแหน่ง</label>
                                    <input id="studentID" type="text" pInputText
                                        [(ngModel)]="candidateData.candiExpList[1].position" />
                                </div>
                            </div>
                            <div class="flex align-items-center justify-content-center m-2 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <div class="field">
                                    <label for="studentID" class="block">ปี</label>
                                    <p-calendar view="year" dateFormat="yy" inputId="yearpicker"
                                        [(ngModel)]="candidateData.candiExpList[1].years"></p-calendar>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap card-container blue-container mt-1" style="max-width: 100%">
                            <div class="flex align-items-baseline justify-content-left">
                                <label for="exp" class="block"><b>ลำดับที่ 3</b></label>
                            </div>
                        </div>

                        <div class="flex flex-wrap card-container blue-container" style="max-width: 100%">
                            <div class="flex align-items-center justify-content-center m-2 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <div class="field">
                                    <label for="studentID" class="block">รายการที่เคยดำรงตำแหน่ง</label>
                                    <input id="studentID" type="text" pInputText
                                        [(ngModel)]="candidateData.candiExpList[2].position" />
                                </div>
                            </div>
                            <div class="flex align-items-center justify-content-center m-2 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <div class="field">
                                    <label for="studentID" class="block">ปี</label>
                                    <p-calendar view="year" dateFormat="yy" inputId="yearpicker"
                                        [(ngModel)]="candidateData.candiExpList[2].years"></p-calendar>
                                </div>
                            </div>
                        </div>
                        <!---->

                        <!-- รูปภาพ -->
                        <div class="flex flex-wrap card-container blue-container mt-1" style="max-width: 100%">
                            <div class="flex align-items-baseline justify-content-left">
                                <label for="exp" class="block"><b>รูปภาพ</b></label>
                            </div>
                        </div>
                        <div *ngIf="displayPic" class="flex flex-wrap card-container blue-container"
                            style="max-width: 100%">
                            <div class="flex align-items-center justify-content-left m-2 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <img [src]="imageSrc" id="photo" [style]="{width: '180px',height: '200px'}">
                            </div>
                        </div>
                        <div *ngIf="displayPic === false" class="flex flex-wrap card-container blue-container"
                            style="max-width: 100%">
                            <div class="flex align-items-center justify-content-left m-2 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <img src="api/candidate/image/{{candidateData.candiImage}}" id="photo"
                                    [style]="{width: '180px',height: '200px'}">
                            </div>
                        </div>
                        <div class="flex flex-wrap card-container blue-container" style="max-width: 100%">
                            <div class="flex align-items-center justify-content-left m-2 border-round"
                                style="min-width: 200px; min-height: 100px">
                                <p-fileUpload #upload mode="basic" name="image" accept="image/*"
                                    chooseLabel="เลือกรูปภาพ" (onSelect)="onSelect($event)">
                                </p-fileUpload>
                            </div>
                        </div>
                        <!---->

                        <!-- Button -->
                        <div class=" card ">
                            <div class="flex flex-wrap card-container blue-container " style="max-width: 100% ">
                                <div class="flex align-items-center justify-content-center border-round "
                                    style="min-width: 100%; min-height: 50px ">
                                    <div style="margin-right: 1rem; ">
                                        <p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
                                            [style]="{width: '50vw'}" [baseZIndex]="10000"
                                            acceptButtonStyleClass="p-button-success"
                                            rejectButtonStyleClass="p-button-danger p-button-text"></p-confirmDialog>
                                        <button pButton pRipple type="button" icon="pi pi-check" label="แก้ไขข้อมูล"
                                            class="p-button-raised buttonColor " (click)="edit()"></button>
                                    </div>
                                    <button pButton pRipple type="button" icon="pi pi-times" label="ล้างข้อมูล"
                                        class="p-button-raised p-button-danger " style="width: 140px; "
                                        (click)="refresh(upload)"></button>
                                </div>
                            </div>
                        </div>
                        <!---->
                    </div>
                </p-panel>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<p-dialog [(visible)]="displayModal" [modal]="true" [style]="{width: '30vw'}"
    [breakpoints]="{'960px': '75vw', '640px': '80vw'}" [draggable]="false" [resizable]="false" [closable]="false"
    [transitionOptions]="'280ms'">
    <div class="flex align-items-center justify-content-center" style="min-width: 100%; min-height: 50px ">
        <img src="assets\img\icon\status_yes.png" height="65" width="65">
    </div>
    <div class="flex align-items-center justify-content-center mt-5 " style="min-width: 100%; min-height: 50px ">
        <H1>แก้ไขข้อมูลสำเร็จ</H1>
    </div>
</p-dialog>