<div class="displays" style="margin-top: 8rem;">
    <p-card header="เข้าสู่ระบบ" [style]="{width: '25rem'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <div class="displays">
                <div style="width: 12rem;">
                    <img alt="Card" src="assets\img\RMUTT-Login-Logo.png">
                </div>
            </div>
        </ng-template>
        <div class="field" style="margin-bottom: 3vh;">
            <span class="p-input-icon-left" [style]="{'width': '100%'}">
                        <i class="pi pi-user"></i>
                        <input type="text" pInputText placeholder="บัญชีผู้ใช้งาน" [style]="{'width': '100%'}"/>
                    </span>
        </div>
        <div class="field">
            <span class="p-input-icon-left" [style]="{'width': '100%'}">
                        <i class="pi pi-lock"></i>
                        <input type="text" pInputText placeholder="รหัสผ่าน" [style]="{'width': '100%'}"/>
                    </span>
        </div>
        <ng-template pTemplate="footer">
            <p-button label="เข้าสู่ระบบ" icon="pi pi-sign-in" [style]="{'width': '100%'}"></p-button>
        </ng-template>
    </p-card>
</div>