<app-menu-bar-admin></app-menu-bar-admin>
<div class="card">
    <div class="card-container overflow-hidden">
        <div class="flex">
            <div class="flex-1 flex flex-wrap align-items-center justify-content-center m-2 px-5 py-3 border-round">
                <p-panel header="รายละเอียดการเลือกตั้ง">
                    <div class="card">
                        <div class="flex flex-wrap card-container blue-container" style="max-width: 100%">
                            <div class="flex-row align-items-start justify-content-start border-round"
                                style="min-width: 100%; min-height: 100px">
                                <div class="flex align-items-start justify-content-start border-round mb-2"
                                    style="min-width: 100%; min-height: 10px">
                                    <label for="Number" class="block text-xl"><b>ชื่อหัวข้อการเลือกตั้ง : </b></label>
                                </div>
                                <div class="flex align-items-center justify-content-start border-round"
                                    style="min-width: 100%px; min-height: 50px">
                                    {{election.elecName}}
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap card-container blue-container" style="max-width: 100%">
                            <div class="flex-row align-items-start justify-content-start border-round"
                                style="min-width: 100%; min-height: 100px">
                                <div class="flex align-items-start justify-content-start border-round mb-2"
                                    style="min-width: 100%; min-height: 10px">
                                    <label for="Number" class="block text-xl"><b>รายละเอียดการเลือกตั้ง : </b></label>
                                </div>
                                <div class="flex align-items-center justify-content-start border-round"
                                    style="min-width: 100%px; min-height: 50px">
                                    {{election.elecDetail}}
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap card-container blue-container" style="max-width: 100%">
                            <div class="flex align-items-center justify-content-center m-2 border-round"
                                style="min-width: 200px; min-height: 10px">
                            </div>
                            <div class="flex align-items-center justify-content-center m-2 border-round"
                                style="min-width: 200px; min-height: 10px">
                            </div>
                            <div class="flex align-items-center justify-content-center m-2 border-round"
                                style="min-width: 200px; min-height: 10px">
                            </div>
                        </div>
                    </div>
                </p-panel>
                <div class="flex m-3">
                    <p-panel header="ระยะเวลาและสถานะ">
                        <div class="card">
                            <div class="flex flex-row flex-wrap card-container blue-container">
                                <div class="m-2">
                                    <div class="flex flex-wrap card-container blue-container " style="max-width: 100%">
                                        <div class="flex align-items-center justify-content-start border-round"
                                            style="min-width: 200px;">
                                            <i class="pi pi-clock" style="font-size: 1rem;margin-right: 5px;"></i>
                                            <label for="Number" class="block text-xl"><b>ระยะเวลาลงคะแนน : </b></label>
                                        </div>
                                    </div>
                                    <div class="flex flex-wrap card-container blue-container border-round mt-2 border-300"
                                        style="max-width: 100%">
                                        <div class="flex-row align-items-center justify-content-center border-round"
                                            style="min-width: 100%; min-height: 20px">
                                            <div class="flex">
                                                <label for="Number" class="block text-xl"><b>เริ่มต้น : </b></label>
                                            </div>
                                            <div class="text-l" style="width: 100%">
                                                {{election.elecStartdate | formatDate}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-wrap card-container blue-container border-round mt-2 border-300 "
                                        style="max-width: 100% ">
                                        <div class="flex-row align-items-center justify-content-center border-round "
                                            style="min-width: 100%; min-height: 50px ">
                                            <div class="flex">
                                                <label for="Number " class="block text-xl"><b>สิ้นสุด : </b></label>
                                            </div>
                                            <div class="text-l" style="width: 100%">
                                                {{election.elecEnddate | formatDate}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-2">
                                    <div class="flex flex-wrap card-container blue-container " style="max-width: 100%">
                                        <div class="flex align-items-center justify-content-start border-round"
                                            style="min-width: 200px;">
                                            <i class="pi pi-clock" style="font-size: 1rem;margin-right: 5px;"></i>
                                            <label for="Number" class="block text-xl"><b>ระยะเวลาลงสมัคร : </b></label>
                                        </div>
                                    </div>
                                    <div class="flex flex-wrap card-container blue-container border-round mt-2 border-300"
                                        style="max-width: 100%">
                                        <div class="flex-row align-items-center justify-content-center border-round"
                                            style="min-width: 100%; min-height: 20px">
                                            <div class="flex">
                                                <label for="Number" class="block text-xl"><b>เริ่มต้น : </b></label>
                                            </div>
                                            <div class="text-l" style="width: 100%">
                                                {{election.elecRegisStartdate | formatDate}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-wrap card-container blue-container border-round mt-2 border-300 "
                                        style="max-width: 100% ">
                                        <div class="flex-row align-items-center justify-content-center border-round "
                                            style="min-width: 100%; min-height: 50px ">
                                            <div class="flex">
                                                <label for="Number " class="block text-xl"><b>สิ้นสุด : </b></label>
                                            </div>
                                            <div class="text-l" style="width: 100%">
                                                {{election.elecRegisEnddate | formatDate}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-panel>
                </div>
            </div>
        </div>
    </div>
    <div class="card-container overflow-hidden " style="max-width: 100% ">
        <div class="flex flex-wrap border-round m-2 justify-content-center ">
            <p-panel header="รายชื่อผู้มีสิทธิ์ลงคะแนน ">
                <div class="flex flex-wrap card-container align-items-center justify-content-start ">
                    <div class="flex m-2 ">
                        <div class="flex m-2">
                            <p-table #inputEL [value]="studentcanVoteList" responsiveLayout="scroll"
                                selectionMode="single"
                                [globalFilterFields]="['studentCode','firstName','lastName','studentMajor']"
                                dataKey="projectCode" [paginator]="true" [rows]="10">
                                <ng-template pTemplate="caption">
                                    <div class="flex align-items-center justify-content-between">
                                        ผู้มีสิทธิ์ลงคะแนนเลือกตั้ง
                                        <span class="p-input-icon-left">
                                            <i class="pi pi-search"></i>
                                            <input type="text" pInputText placeholder="กรุณากรอกรหัสหรือชื่อนักศึกษา"
                                                (input)="inputSearch(inputEL, $event)" />
                                        </span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>รหัสนักศึกษา</th>
                                        <th style="width: 10rem;">ชื่อ</th>
                                        <th style="width: 10rem;">นามสกุล</th>
                                        <th style="width: 10rem;">ชั้นปี</th>
                                        <th style="width: 15rem;">สาขาวิชา</th>
                                        <th style="width: 15rem;">คณะ</th>
                                        <th style="width: 5rem;"></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-studentDetail let-i="rowIndex">
                                    <tr>
                                        <td>
                                            {{studentDetail.studentCode}}
                                        </td>
                                        <td>
                                            {{studentDetail.firstName}}
                                        </td>
                                        <td>
                                            {{studentDetail.lastName}}
                                        </td>
                                        <td>
                                            {{studentDetail.studentMajor}}
                                        </td>
                                        <td>
                                            {{studentDetail.studentFaculty}}
                                        </td>
                                        <td>
                                            <button pButton type="button" class="p-button-danger" label="ลบ"
                                                style="width: 100%;height: 2.5rem;" (click)="remove(studentDetail,i)"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="summary">
                                    <div class="flex align-items-center justify-content-between">
                                        <div class="flex">
                                            จำนวนนักศึกษาทั้งหมด {{ studentcanVoteList ? studentcanVoteList.length : 0 }} คน
                                        </div>
                                        <div class="flex">
                                            <button pButton type="button" class="p-button-danger" label="ลบทั้งหมด"
                                            style="width: 100%;height: 2.5rem;" (click)="removeAll()"></button>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-table>
                        </div>
                        <div class="flex m-2">
                            <p-table #inputEL2 [value]="studentcantVoteList" responsiveLayout="scroll"
                                selectionMode="single"
                                [globalFilterFields]="['studentCode','firstName','lastName','studentMajor']"
                                dataKey="projectCode" [paginator]="true" [rows]="10">
                                <ng-template pTemplate="caption">
                                    <div class="flex align-items-center justify-content-between">
                                        ผู้ไม่มีสิทธิ์ลงคะแนนเลือกตั้ง
                                        <span class="p-input-icon-left">
                                            <i class="pi pi-search"></i>
                                            <input type="text" pInputText placeholder="กรุณากรอกรหัสหรือชื่อนักศึกษา"
                                                (input)="inputSearch2(inputEL2, $event)" />
                                        </span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>รหัสนักศึกษา</th>
                                        <th style="width: 10rem;">ชื่อ</th>
                                        <th style="width: 10rem;">นามสกุล</th>
                                        <th style="width: 15rem;">สาขาวิชา</th>
                                        <th style="width: 15rem;">คณะ</th>
                                        <th style="width: 5rem;"></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-studentDetail let-i="rowIndex">
                                    <tr>
                                        <td>
                                            {{studentDetail.studentCode}}
                                        </td>
                                        <td>
                                            {{studentDetail.firstName}}
                                        </td>
                                        <td>
                                            {{studentDetail.lastName}}
                                        </td>
                                        <td>
                                            {{studentDetail.studentMajor}}
                                        </td>
                                        <td>
                                            {{studentDetail.studentFaculty}}
                                        </td>
                                        <td>
                                            <button pButton type="button" class="p-button-success" label="เพิ่ม"
                                                style="width: 100%;height: 2.5rem;" (click)="add(studentDetail,i)"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="summary">
                                    <div class="flex align-items-center justify-content-between">
                                        <div class="flex">
                                            จำนวนนักศึกษาทั้งหมด {{ studentcantVoteList ? studentcantVoteList.length : 0 }} คน
                                        </div>
                                        <div class="flex">
                                            <button pButton type="button" class="p-button-success" label="เพิ่มทั้งหมด"
                                            style="width: 100%;height: 2.5rem;" (click)="addAll()"></button>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-panel>
        </div>
    </div>
</div>
<div style="margin-top:2%; "></div>
<app-footer></app-footer>