<p-blockUI [blocked]="blocked">
    <p-card header="เพิ่มผู้หรือลบผู้มีสิทธิ์รายการ " subheader="กรุณาเลือกและตรวจสอบผู้ลงสมัคร" [style]="{width: '900px'}" styleClass="p-card-shadow">
        <div class="card">
            <p-table #inputEL [value]="student" responsiveLayout="scroll" selectionMode="single" [globalFilterFields]="['projCode','projName','customerCode']" dataKey="projectCode" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" currentPageReportTemplate="แสดงข้อมูล {first} ถึง {last} จาก {totalRecords} โครงการทั้งหมด">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        รายชื่อผู้ผ่านการตรวจสอบ
                        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input type="text"  pInputText placeholder="กรุณากรอกผู้ลงสมัคร" (input)="inputSearch(inputEL, $event)"/>
                </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>รหัสนักศึกษา</th>
                        <th>ชื่อ-สกุล</th>
                        <th>คณะ</th>
                        <th style="width: 15vh;text-align: center;">
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-students>
                    <tr>
                        <td>
                            {{students.studentId}}
                        </td>
                        <td>
                            {{students.name}}
                        </td>
                        <td>
                            {{students.faculty}}
                        </td>
                        <td>
                            <button pButton type="button" class="p-button buttonColor" label="เพิ่ม" style="width: 100%;"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        จำนวนผู้ลงสมัครทั้งหมด คน
                    </div>
                </ng-template>
            </p-table>
        </div>
        <ng-template pTemplate="footer">
            <div style="text-align: center;padding: 2vh;">
                <button pButton pRipple type="button" label="ยืนยัน" class="p-button-success" style="margin-right:2vh "></button>
                <button pButton pRipple type="button" label="ยกเลิก" class="p-button-danger" (click)="close()"></button>
            </div>
        </ng-template>
    </p-card>
</p-blockUI>