<app-menu-bar-admin></app-menu-bar-admin>
<div class="card">
    <div class="flex">
        <div
            class="flex-1 flex flex-wrap align-items-center justify-content-center m-2 px-5 py-3 border-round headerFont">
            รายชื่อผู้ลงสมัคร
        </div>
    </div>
    <div class="card-container overflow-hidden">
        <div class="flex">
            <div class="flex-1 flex flex-wrap align-items-center justify-content-center m-2 px-5 py-3 border-round">
                <div class="card">
                    <p-tabView styleClass="tabview-custom">
                        <p-tabPanel>
                            <ng-template pTemplate="header">
                                <img src="assets\img\icon\voting-box.png" height="20" width="20"
                                    style="margin-right:10px;">
                                <span>รายการที่เปิดให้ลงคะแนน</span>
                            </ng-template>
                            <div class="flex m-2">
                                <div class="card" style="min-width: 900px;">
                                    <p-table #inputEL [value]="electionOnVoteList" responsiveLayout="scroll"
                                        selectionMode="single"
                                        [globalFilterFields]="['elecId','elecName','elecStartdate','elecEnddate']"
                                        dataKey="projectCode" [paginator]="true" [rows]="5"
                                        [showCurrentPageReport]="true"
                                        currentPageReportTemplate="แสดงข้อมูล {first} ถึง {last} จาก {totalRecords} รายการทั้งหมด">
                                        <ng-template pTemplate="caption">
                                            <div class="flex align-items-center justify-content-between">
                                                รายการที่เปิดให้ลงคะแนน
                                                <span class="p-input-icon-left">
                                                    <i class="pi pi-search"></i>
                                                    <input type="text" pInputText
                                                        placeholder="กรุณากรอกรหัสหรือชื่อรายการ"
                                                        (input)="inputSearch(inputEL, $event)" />
                                                </span>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>รหัสรายการ</th>
                                                <th style="width: 20rem;">ชื่อรายการ</th>
                                                <th style="width: 10rem;">เริ่มต้นลงคะแนน</th>
                                                <th style="width: 10rem;">สิ้นสุดลงคะแนน</th>
                                                <th>จำนวนผู้ลงสมัคร</th>
                                                <th style="width: 10rem;text-align: center;"></th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-electionDetail>
                                            <tr>
                                                <td (click)="goToCandidateListDetail(electionDetail.elecId)">
                                                    {{electionDetail.elecId}}
                                                </td>
                                                <td (click)="goToCandidateListDetail(electionDetail.elecId)">
                                                    {{electionDetail.elecName}}
                                                </td>
                                                <td (click)="goToCandidateListDetail(electionDetail.elecId)">
                                                    {{electionDetail.elecStartdate | formatDate}}
                                                </td>
                                                <td (click)="goToCandidateListDetail(electionDetail.elecId)">
                                                    {{electionDetail.elecEnddate | formatDate}}
                                                </td>
                                                <td (click)="goToCandidateListDetail(electionDetail.elecId)">
                                                    <div class="flex justify-content-center">
                                                        {{electionDetail.countRegister}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <button pButton type="button" class="p-button buttonColor"
                                                        label="ตรวจสอบ" style="width: 100%;"
                                                        (click)="goToCandidateListDetail(electionDetail.elecId)"></button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="summary">
                                            <div class="flex align-items-center justify-content-between">
                                                จำนวนรายการทั้งหมด {{electionOnVoteList ? electionOnVoteList.length : 0
                                                }} รายการ
                                            </div>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Header II">
                            <ng-template pTemplate="header">
                                <img src="assets\img\icon\coming-soon.png" height="20" width="20"
                                    style="margin-right:10px;">
                                <span>รายการที่กำลังจะมาถึง</span>
                            </ng-template>
                            <div class="flex m-2">
                                <div class="card" style="min-width: 900px;">
                                    <p-table #inputEL2 [value]="allElection" responsiveLayout="scroll"
                                        selectionMode="single" [globalFilterFields]="['elecId','elecName']"
                                        [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                                        currentPageReportTemplate="แสดงข้อมูล {first} ถึง {last} จาก {totalRecords} รายการทั้งหมด">
                                        <ng-template pTemplate="caption">
                                            <div class="flex align-items-center justify-content-between">
                                                รายการที่กำลังจะมาถึง
                                                <span class="p-input-icon-left">
                                                    <i class="pi pi-search"></i>
                                                    <input type="text" pInputText
                                                        placeholder="กรุณากรอกรหัสหรือชื่อรายการ"
                                                        (input)="inputSearch(inputEL2, $event)" />
                                                </span>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>รหัสรายการ</th>
                                                <th>ชื่อรายการ</th>
                                                <th>เริ่มต้นลงคะแนน</th>
                                                <th>สิ้นลงคะแนน</th>
                                                <th>เริ่มต้นลงสมัคร</th>
                                                <th>สิ้นสุดลงสมัคร</th>
                                                <th>จำนวนผู้ลงสมัคร</th>
                                                <th></th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-electionDetail>
                                            <tr>
                                                <td (click)="editCandidateList(electionDetail.elecId)">
                                                    {{electionDetail.elecId}}
                                                </td>
                                                <td (click)="editCandidateList(electionDetail.elecId)">
                                                    {{electionDetail.elecName}}
                                                </td>
                                                <td (click)="editCandidateList(electionDetail.elecId)">
                                                    {{electionDetail.elecStartdate | formatDate}}
                                                </td>
                                                <td (click)="editCandidateList(electionDetail.elecId)">
                                                    {{electionDetail.elecEnddate | formatDate}}
                                                </td>
                                                <td (click)="editCandidateList(electionDetail.elecId)">
                                                    {{electionDetail.elecRegisStartdate | formatDate}}
                                                </td>
                                                <td (click)="editCandidateList(electionDetail.elecId)">
                                                    {{electionDetail.elecRegisEnddate | formatDate}}
                                                </td>
                                                <td (click)="editCandidateList(electionDetail.elecId)">
                                                    <div class="flex justify-content-center">
                                                        {{electionDetail.countRegister}}
                                                    </div>
                                                </td>
                                                <td class="flex justify-content-center">
                                                    <button pButton pRipple type="button" label="จัดการผู้ลงสมัคร"
                                                        class="p-button p-button-warning mr-2"
                                                        (click)="editCandidateList(electionDetail.elecId)"></button> 
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="summary">
                                            <div class="flex align-items-center justify-content-between">
                                                จำนวนรายการทั้งหมด {{allElection ? allElection.length: 0}} รายการ
                                            </div>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Header III">
                            <ng-template pTemplate="header">
                                <img src="assets\img\icon\success.png" height="20" width="20"
                                    style="margin-right:10px;">
                                <span>รายการที่เสร็จสิ้นแล้ว</span>
                            </ng-template>
                            <div class="flex m-2">
                                <div class="card" style="min-width: 900px;">
                                    <p-table #inputEL3 [value]="electionVoteCompleteList" responsiveLayout="scroll"
                                        selectionMode="single"
                                        [globalFilterFields]="['projCode','projName','customerCode']"
                                        dataKey="projectCode" [paginator]="true" [rows]="5"
                                        [showCurrentPageReport]="true"
                                        currentPageReportTemplate="แสดงข้อมูล {first} ถึง {last} จาก {totalRecords} รายการทั้งหมด">
                                        <ng-template pTemplate="caption">
                                            <div class="flex align-items-center justify-content-between">
                                                รายการที่เสร็จสิ้นแล้ว
                                                <span class="p-input-icon-left">
                                                    <i class="pi pi-search"></i>
                                                    <input type="text" pInputText
                                                        placeholder="กรุณากรอกรหัสหรือชื่อรายการ"
                                                        (input)="inputSearch(inputEL3, $event)" />
                                                </span>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>รหัสรายการ</th>
                                                <th style="width: 20rem;">ชื่อรายการ</th>
                                                <th style="width: 10rem;">เริ่มต้นลงคะแนน</th>
                                                <th style="width: 10rem;">สิ้นสุดลงคะแนน</th>
                                                <th>จำนวนผู้ลงสมัคร</th>
                                                <th style="width: 10rem;text-align: center;">
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-electionDetail>
                                            <tr>
                                                <td (click)="goToCandidateListDetail(electionDetail.elecId)">
                                                    {{electionDetail.elecId}}
                                                </td>
                                                <td (click)="goToCandidateListDetail(electionDetail.elecId)">
                                                    {{electionDetail.elecName}}
                                                </td>
                                                <td (click)="goToCandidateListDetail(electionDetail.elecId)">
                                                    {{electionDetail.elecStartdate | formatDate}}
                                                </td>
                                                <td (click)="goToCandidateListDetail(electionDetail.elecId)">
                                                    {{electionDetail.elecEnddate | formatDate}}
                                                </td>
                                                <td (click)="goToCandidateListDetail(electionDetail.elecId)">
                                                    <div class="flex justify-content-center">
                                                        {{electionDetail.countRegister}}
                                                    </div>
                                                </td>
                                                <td>
                                                    <button pButton type="button" class="p-button buttonColor"
                                                        label="ตรวจสอบ" style="width: 100%;"
                                                        (click)="goToCandidateListDetail(electionDetail.elecId)"></button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="summary">
                                            <div class="flex align-items-center justify-content-between">
                                                จำนวนรายการทั้งหมด {{electionVoteCompleteList ?
                                                electionVoteCompleteList.lenght : 0}} รายการ
                                            </div>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-top:2%;"></div>
<app-footer></app-footer>
