<app-menu-bar></app-menu-bar>
<div class="card">
    <div class="card-container overflow-hidden">
        <div class="flex">
            <div class="flex-1 flex flex-wrap align-items-center justify-content-center m-2 px-5 py-3 border-round">
                <div class="headerFont">
                    ผลคะแนนการเลือกตั้ง<br> {{election.elecName}}
                </div>
            </div>
        </div>
    </div>
    <div class="card-container overflow-hidden">
        <div class="flex">
            <div class="flex-1 flex flex-wrap align-items-center justify-content-center m-2 px-5 py-3 border-round">
                <div class="flex-row align-items-center justify-content-center font-bold text-white m-2 border-round" style="min-width: 80%; min-height: 700px">
                    <div class="flex align-items-start justify-content-center m-2 border-round" style="min-width: 80%; min-height: 500px">
                        <p-chart type="bar" [data]="chartData" [options]="options" width="40vw" height="60vh"></p-chart>
                    </div>
                    <!-- <div class="flex align-items-center justify-content-center bg-yellow-500 font-bold text-white m-2 border-round" style="min-width: 80%; min-height: 200px">
                        Hello
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>