<app-menu-bar></app-menu-bar>
<p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [numVisible]="5" [circular]="true" [showItemNavigators]="true" [showThumbnails]="false">
    <ng-template pTemplate="item" let-item>
        <img [src]="item.previewImageSrc" style="width: 70%; display: block;" />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
            <img [src]="item.thumbnailImageSrc" style="display: block;" />
        </div>
    </ng-template>
</p-galleria>
<div class="card">
    <div class="card-container yellow-container overflow-hidden">
        <div class="flex">
            <div class="flex align-items-center justify-content-center font-bold px-2 py-3 text-3xl ml-2">
                <div class="headerFont">
                    รายการกิจกรรม
                </div>
            </div>
            <div class="flex align-items-end justify-content-center px-2 py-3 text-1xl">เฉพาะกิจกรรมของคุณ</div>
        </div>
    </div>
</div>
<div class="card">
    <div class="flex flex-wrap card-container align-items-center m-2" style="max-width: 100%">
        <div class="flex align-items-center justify-content-center bg-blue-500 font-bold text-white m-2 ml-2 border-round" style="min-width: 200px; min-height: 100px" *ngFor="let elec of election;let indexOfelement=index;">
            <p-card header="{{elec.election.elecName}}" [style]="{width: '350px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <div class="flex justify-content-center">
                        <img alt="Card" src="api/candidate/image/{{elec.election.elecImages}}" [style]="{width: '350px',height: '200px'}">
                    </div>
                </ng-template>
                <div class="fixblock">
                    <p>
                        {{elec.election.elecDetail}}
                    </p>
                </div>
                <div style="margin-top: 1rem">
                    <b>
                        <p>
                            เริ่มต้น : {{elec.election.elecStartdate | formatDate}}
                        </p>
                        <p>
                            สิ้นสุด : {{elec.election.elecEnddate | formatDate}}
                        </p>
                        <p>
                            ผู้ลงสมัครทั้งหมด : {{elec.election.countCandi}} คน
                        </p>
                    </b>
                </div>

                <ng-template pTemplate="footer">
                    <button pButton type="button" class="p-button buttonColor" label="ลงคะแนน" [style]="{width: '100%'}" (click)="goToElectionById(elec.election.elecId)"></button>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>
<div style="margin-top:2%;">
    <app-footer></app-footer>
</div>