<div class="card">
    <div class="flex flex-nowrap card-container blue-container" style="max-width: 100%;background: #F7F6E4;">
        <div class="flex align-items-center justify-content-center font-bold text-white m-2 border-round" style="min-width: 10px; min-height: 50px;"></div>
        <div class="flex align-items-center justify-content-center font-bold text-white m-2 border-round" style="min-width: 100px; min-height: 50px;">
            <img src="assets\img\rmutt-logo.png" alt="rmutt-logo">
        </div>
        <div class="flex align-items-center justify-content-center border-round" style="min-width: 100px; min-height: 50px;">
            <div class="font-bold">
                ระบบการเลือกตั้งสโมสรนักศึกษาด้วยเทคโนโลยีบล็อกเชน
                <br>สำหรับคณะวิทยาศาสตร์และเทคโนโลยี
                <div class="font-light text-xs">
                    The System of Student Union Election Using
                    <br>Blockchain Technology For Faculty of Science and Technology
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-nowrap card-container blue-container" style="max-width: 100%;max-height: 20%;background: #006D71;">
        <div class="flex align-items-center justify-content-center font-bold text-white m-2 border-round" style="min-width: 10px; min-height: 35px;">
        </div>
        <div class="flex align-items-center justify-content-center font-bold text-white m-2 border-round" style="min-width: 50px; min-height: 35px;">
            2022 ระบบการเลือกตั้งสโมสรนักศึกษาด้วยเทคโนโลยีบล็อกเชน สำหรับคณะวิทยาศาสตร์และเทคโนโลยี
        </div>
    </div>
</div>