<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="assets\img\RMUTT-menubar-logo.png" height="55" width="180" class="mr-2">
    </ng-template>
    <ng-template pTemplate="end">

    </ng-template>
</p-menubar>


<!-- <p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="assets\img\RMUTT-menubar-logo.png" height="55" width="175" class="mr-2">
    </ng-template>
    <div>
        <div class="dropdown"><i class="pi pi-user" style="font-size: 1rem"></i> <button class="dropbtn">Username</button><i class="pi pi-chevron-down" style="font-size: 1rem"></i>
            <div class="dropdown-content">
                <a href="#">สถานะการลงสมัคร</a>
                <a href="#">ออกจากระบบ</a>
            </div>
        </div>
    </div>
    <ng-template pTemplate="end">
    </ng-template>
</p-menubar> -->
<!-- <div style="background-color: red;">
    <div style="background-color: black;">
        <img src="assets\img\RMUTT-menubar-logo.png" height="55" width="175" class="mr-2">
    </div>
    <div style="background-color: yellow;">

    </div>
<p-menubar [model]="items">


        <ng-template pTemplate="start">

        </ng-template>


    </p-menubar>

   

</div> -->