<div class="displays" style="margin-top: 8rem;">
    <p-card header="เข้าสู่ระบบ" [style]="{width: '25rem'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <div class="displays">
                <div style="width: 12rem;">
                    <img alt="Card" src="assets\img\RMUTT-Login-Logo.png">
                </div>
            </div>
        </ng-template>
        <div class="field" style="margin-bottom: 3vh;">
            <span class="p-input-icon-left" [style]="{'width': '100%'}">
                <i class="pi pi-user"></i>
                <input type="text" pInputText placeholder="บัญชีผู้ใช้งาน" [style]="{'width': '100%'}"
                    [(ngModel)]="studentCode" />
            </span>
            <div>
                <small *ngIf="submited && !studentCode" class="text-red-500">กรุณากรอกรหัสนักศึกษา</small>
            </div>
        </div>
        <div class="field">
            <span class="p-input-icon-left" [style]="{'width': '100%'}">
                <i class="pi pi-lock"></i>
                <input type="password" pInputText placeholder="รหัสผ่าน" [style]="{'width': '100%'}"
                    [(ngModel)]="password" />
            </span>
            <div>
                <small *ngIf="submited && !password" class="text-red-500">กรุณากรอกรหัสผ่าน</small>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <button pButton type="button" class="p-button buttonColor" label="เข้าสู่ระบบ" (click)="login()"
                icon="pi pi-sign-in" style="width: 200px;" [style]="{'width': '100%'}"></button>
        </ng-template>
    </p-card>
</div>
<p-toast></p-toast>
<div *ngIf="activate">
    <app-otp (unBlock)="unActivate($event)"></app-otp>
</div>