.headerFont {
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 37px;
    /* identical to box height */
    text-align: center;
    /* gradient-main */
    background: linear-gradient(270deg, #4BBC99 0%, #009DC8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.blockBg {
    background: linear-gradient(46.33deg, rgba(4, 152, 143, 0.75) 46.58%, rgba(152, 255, 206, 0.75) 99.97%);
    border-radius: 11.4995px;
}

.blockBg:hover {
    background: linear-gradient(46.33deg, rgba(4, 152, 143, 0.75) 100%, rgba(152, 255, 206, 0.75) 99.97%);
}

.buttonColor {
    background: #05A4A9;
    border-radius: 5px;
    border-color: #05A4A9;
}

.buttonColor:hover {
    background: #039396;
    border-radius: 5px;
    border-color: #039396;
}