<app-menu-bar-admin></app-menu-bar-admin>
<p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [numVisible]="5" [circular]="true" [showItemNavigators]="true" [showThumbnails]="false">
    <ng-template pTemplate="item" let-item>
        <img [src]="item.previewImageSrc" style="width: 70%; display: block;" />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
            <img [src]="item.thumbnailImageSrc" style="display: block;" />
        </div>
    </ng-template>
</p-galleria>
<div class="card">
    <div class="card-container overflow-hidden">
        <div class="flex">
            <div class="flex-1 flex align-items-center justify-content-center m-2 px-5 py-3 border-round">
                <div class="flex flex-wrap align-items-center justify-content-center font-bold  text-white m-2 border-round" style="min-width: 60%; min-height: 200px">
                    <div class="flex-row align-items-center justify-content-center blockBg m-3 border-round" style="min-width: 25%; min-height: 200px">
                        <label for="buttonCreate">
                            <div class="flex align-items-center justify-content-center" style="min-width: 100%; min-height: 150px;cursor: pointer;">
                                <img src="assets\img\icon\createvote.png" height="70" width="70" class="mr-2">
                            </div>
                            <div class="flex align-items-center justify-content-center" style="min-width:100%;cursor: pointer;">
                                สร้างการเลือกตั้ง
                        </div>
                        </label>
                        <button type="button" id="buttonCreate" style="display: none;visibility: hidden;" (click)="goToCreateElection()"></button>
                    </div>
                    <div class="flex-row align-items-center justify-content-center blockBg m-3 border-round" style="min-width: 25%; min-height: 200px">
                        <label for="buttonManage">
                            <div class="flex align-items-center justify-content-center" style="min-width: 100%; min-height: 150px;cursor: pointer;">
                                <img src="assets\img\icon\manage.png" height="70" width="55" class="mr-2">
                            </div>
                            <div class="flex align-items-center justify-content-center" style="min-width:100%;cursor: pointer;">
                                จัดการผู้มีสิทธิ์เลือกตั้ง
                        </div>
                        </label>
                        <button type="button" id="buttonManage" style="display: none;visibility: hidden;" (click)="goToManageVoter()"></button>
                    </div>
                    <div class="flex-row align-items-center justify-content-center blockBg m-3 border-round" style="min-width: 25%; min-height: 200px">
                        <label for="buttonList">
                            <div class="flex align-items-center justify-content-center" style="min-width: 100%; min-height: 150px;cursor: pointer;">
                                <img src="assets\img\icon\list.png" height="70" width="55" class="mr-2">
                            </div>
                            <div class="flex align-items-center justify-content-center" style="min-width:100%;cursor: pointer;">
                                รายชื่อผู้ลงสมัคร
                        </div>
                        </label>
                        <button type="button" id="buttonList" style="display: none;visibility: hidden;" (click)="goToCandidatelist()"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-container yellow-container overflow-hidden">
        <div class="flex">
            <div class="flex align-items-center justify-content-center font-bold px-2 py-3 text-3xl ml-2">
                <div class="headerFont">
                    รายการกิจกรรม
                </div>
            </div>
            <div class="flex align-items-end justify-content-center px-2 py-3 text-1xl">เฉพาะกิจกรรมของคุณ</div>
        </div>
    </div>
</div>
<div class="card">
    <div class="flex flex-wrap card-container" style="max-width: 100%">
        <div class="flex align-items-center justify-content-center bg-blue-500 font-bold text-white m-2 ml-2 border-round" style="min-width: 200px; min-height: 100px">
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{width: '360px'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/showcase/images/usercard.png">
                </ng-template>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
                </p>
                <ng-template pTemplate="footer">
                    <p-button label="Save" icon="pi pi-check" (click)="goToManageElection()"></p-button>
                    <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>
<div style="margin-top:2%;">
    <app-footer></app-footer>
</div>