.buttonColor {
    background: #05A4A9;
    border-radius: 5px;
    border-color: #05A4A9;
}

.buttonColor:hover {
    background: #039396;
    border-radius: 5px;
    border-color: #039396;
}

.request {
    color: black;
    text-decoration: underline;
}

.request:hover {
    color: gray;
}