/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: prompt;
    src: url(assets/font/Prompt-Light.ttf) format("opentype");
}

* {
    font-family: prompt;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p-scrollpanel {
    &.custombar {
        .p-scrollpanel-wrapper {
            border-right: 9px solid var(--layer-1);
            border-bottom: 9px solid var(--layer-1);
        }
        .p-scrollpanel-bar {
            background-color: var(--layer-2);
            border-radius: 0;
            opacity: 1;
            transition: background-color .2s;
        }
    }
}