<app-menu-bar-admin></app-menu-bar-admin>
<div class="card">
    <div class="card-container overflow-hidden">
        <div class="flex">
            <div class="flex-1 flex flex-wrap align-items-center justify-content-center m-2 px-5 py-3 border-round">
                <p-panel header="รายละเอียดการเลือกตั้ง">
                    <div class="card">
                        <div class="flex flex-wrap card-container blue-container" style="max-width: 100%">
                            <div class="flex-row align-items-start justify-content-start border-round"
                                style="min-width: 100%; min-height: 100px">
                                <div class="flex align-items-start justify-content-start border-round mb-2"
                                    style="min-width: 100%; min-height: 10px">
                                    <label for="Number" class="block text-xl"><b>ชื่อหัวข้อการเลือกตั้ง : </b></label>
                                </div>
                                <div class="flex align-items-center justify-content-start border-round"
                                    style="min-width: 100%px; min-height: 50px">
                                    <input type="text" pInputText [style]="{width: '100%'}"
                                        [(ngModel)]="election.elecName" />
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap card-container blue-container" style="max-width: 100%">
                            <div class="flex-row align-items-start justify-content-start border-round"
                                style="min-width: 100%; min-height: 100px">
                                <div class="flex align-items-start justify-content-start border-round mb-2"
                                    style="min-width: 100%; min-height: 10px">
                                    <label for="Number" class="block text-xl"><b>รายละเอียดการเลือกตั้ง : </b></label>
                                </div>
                                <div class="flex align-items-center justify-content-start border-round"
                                    style="min-width: 100%px; min-height: 50px">
                                    <textarea id="float-input" rows="5" cols="30" pInputTextarea
                                        [style]="{width: '100%'}" [(ngModel)]="election.elecDetail"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-wrap card-container blue-container" style="max-width: 100%">
                            <div class="flex align-items-center justify-content-center m-2 border-round"
                                style="min-width: 200px; min-height: 10px">
                            </div>
                            <div class="flex align-items-center justify-content-center m-2 border-round"
                                style="min-width: 200px; min-height: 10px">
                            </div>
                            <div class="flex align-items-center justify-content-center m-2 border-round"
                                style="min-width: 200px; min-height: 10px">
                            </div>
                        </div>
                    </div>
                </p-panel>
                <div class="flex m-3">
                    <p-panel header="ระยะเวลาและสถานะ">
                        <div class="card">
                            <div class="flex flex-row flex-wrap card-container blue-container">
                                <div class="m-2">
                                    <div class="flex flex-wrap card-container blue-container " style="max-width: 100%">
                                        <div class="flex align-items-center justify-content-start border-round"
                                            style="min-width: 200px;">
                                            <i class="pi pi-clock" style="font-size: 1rem;margin-right: 5px;"></i>
                                            <label for="Number" class="block text-xl"><b>ระยะเวลาลงคะแนน : </b></label>
                                        </div>
                                    </div>
                                    <div class="flex flex-wrap card-container blue-container border-round mt-2 border-300"
                                        style="max-width: 100%">
                                        <div class="flex-row align-items-center justify-content-center border-round"
                                            style="min-width: 100%; min-height: 20px">
                                            <div class="flex">
                                                <label for="Number" class="block"><b>เริ่มต้น : </b></label>
                                            </div>
                                            <div style="width: 100%">
                                                <p-calendar [showIcon]="true" inputId="icon" [style]="{width: '100%'}"
                                                    appendTo="body" [(ngModel)]="election.elecStartdate" ></p-calendar>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-wrap card-container blue-container border-round mt-2 border-300 "
                                        style="max-width: 100% ">
                                        <div class="flex-row align-items-center justify-content-center border-round "
                                            style="min-width: 100%; min-height: 50px ">
                                            <div class="flex">
                                                <label for="Number " class="block"><b>สิ้นสุด : </b></label>
                                            </div>
                                            <div style="width: 100%">
                                                <p-calendar [showIcon]="true " inputId="test" [style]="{width: '100%'}"
                                                    appendTo="body" [(ngModel)]="election.elecEnddate" ></p-calendar>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-2">
                                    <div class="flex flex-wrap card-container blue-container " style="max-width: 100%">
                                        <div class="flex align-items-center justify-content-start border-round"
                                            style="min-width: 200px;">
                                            <i class="pi pi-clock" style="font-size: 1rem;margin-right: 5px;"></i>
                                            <label for="Number" class="block text-xl"><b>ระยะเวลาลงสมัคร : </b></label>
                                        </div>
                                    </div>
                                    <div class="flex flex-wrap card-container blue-container border-round mt-2 border-300"
                                        style="max-width: 100%">
                                        <div class="flex-row align-items-center justify-content-center border-round"
                                            style="min-width: 100%; min-height: 20px">
                                            <div class="flex">
                                                <label for="Number" class="block"><b>เริ่มต้น : </b></label>
                                            </div>
                                            <div style="width: 100%">
                                                <p-calendar [showIcon]="true" inputId="icon" [style]="{width: '100%'}"
                                                    appendTo="body"
                                                    [(ngModel)]="election.elecRegisStartdate" ></p-calendar>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-wrap card-container blue-container border-round mt-2 border-300 "
                                        style="max-width: 100% ">
                                        <div class="flex-row align-items-center justify-content-center border-round "
                                            style="min-width: 100%; min-height: 50px ">
                                            <div class="flex">
                                                <label for="Number " class="block"><b>สิ้นสุด : </b></label>
                                            </div>
                                            <div style="width: 100%">
                                                <p-calendar [showIcon]="true " inputId="test" [style]="{width: '100%'}"
                                                    appendTo="body"
                                                    [(ngModel)]="election.elecRegisEnddate"></p-calendar>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-panel>
                </div>
            </div>
        </div>
    </div>
    <div class="card-container overflow-hidden " style="max-width: 100% ">
        <div class="flex flex-wrap border-round m-2 justify-content-center ">
            <p-panel header="รายชื่อผู้ลงสมัคร ">
                <div class="flex flex-wrap card-container align-items-center justify-content-start ">
                    <div class="flex m-2 ">
                        <div class="flex m-2" *ngFor="let candidate of electionAndCandiList">
                            <p-card [style]="{width: '340px'}" styleClass="p-card-shadow">
                                <ng-template pTemplate="header">
                                    <div class="flex justify-content-center">
                                        <img src="api/candidate/image/{{candidate.candidate.candiImage}}" id="photo"
                                            [style]="{width: '80%',height: '280px'}" (error)="defaultImage($event)">
                                    </div>
                                </ng-template>
                                <div class="flex justify-content-center">
                                    <b> ชื่อผู้ลงสมัคร : </b>&nbsp; {{candidate.candidate.name}}
                                </div>
                                <div class="flex justify-content-center">
                                    <b> เบอร์ : </b>&nbsp; {{candidate.candidate.candiNo}}
                                </div>
                                <div class="flex justify-content-center">
                                    <b> พรรค : </b>&nbsp; {{candidate.candidate.candiParty}}
                                </div>
                                <ng-template pTemplate="footer">
                                    <button pButton type="button" class="p-button buttonCheckColor m-2"
                                        label="ตรวจสอบข้อมูล" [style]="{width: '100%'}" (click)="checkCandidate(candidate.candidate.candiId)"></button>
                                </ng-template>
                            </p-card>
                        </div>
                    </div>
                </div>
            </p-panel>
        </div>
    </div>
    <div class="flex m-2 align-items-center justify-content-center">
        <button pButton type="button" class="p-button buttonColor" label="แก้ไขการเลือกตั้ง" style="width: 20%;"
            (click)="editElection(election)"></button>
    </div>
</div>
<div style="margin-top:2%; "></div>
<app-footer></app-footer>
<!-- confirm -->
<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" [baseZIndex]="10000"
    acceptButtonStyleClass="p-button-success" rejectButtonStyleClass="p-button-danger p-button-text"></p-confirmDialog>
<p-dialog [(visible)]="displaySuccessModal" [modal]="true" [style]="{width: '30vw'}"
    [breakpoints]="{'960px': '75vw', '640px': '80vw'}" [draggable]="false" [resizable]="false" [closable]="false"
    [transitionOptions]="'280ms'">
    <div class="flex align-items-center justify-content-center" style="min-width: 100%; min-height: 50px ">
        <img src="assets\img\icon\status_yes.png" height="65" width="65">
    </div>
    <div class="flex align-items-center justify-content-center mt-5 " style="min-width: 100%; min-height: 50px ">
        <H1>แก้ไขข้อมูลสำเร็จ</H1>
    </div>
</p-dialog>
<p-dialog [(visible)]="displayErrorModal" [modal]="true" [style]="{width: '30vw'}"
    [breakpoints]="{'960px': '75vw', '640px': '80vw'}" [draggable]="false" [resizable]="false" [closable]="false"
    [transitionOptions]="'280ms'">
    <div class="flex align-items-center justify-content-center" style="min-width: 100%; min-height: 50px ">
        <img src="assets\img\icon\status_no.png" height="65" width="65">
    </div>
    <div class="flex align-items-center justify-content-center mt-5 " style="min-width: 100%; min-height: 50px ">
        <H1>แก้ไขไม่สำเร็จสำเร็จ</H1>
    </div>
</p-dialog>